        {% extends "AppCoder/padre.html" %}

        {% block titulo %}
        Bienvenido a mi sitio de Coder
        {% endblock titulo %} 


        {% block contenido %}




        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Bienvenido a mi sitio</h1>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        
       