{% extends "AppCoder/padre.html" %}

{% block titulo %}
Formulario - Agregar profesor
{% endblock titulo %} 


{% block contenido %}




<section class="features-icons bg-light" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                

                <form action="{% url 'profesor-formulario' %}" method="POST">
                {% csrf_token %}
                    
                    <table>
                        {{ formulario_profesor.as_table }}
                    </table>

                    <input type="submit" value="Enviar">

                </form>


            </div>
        </div>
    </div>
</section>

{% endblock %}